mixin wishlistForm(wishlistItem = {})
	form(action="/add-item" method="POST" class="card")
		label(for="itemName") Item name
		input(type="text" name="itemName")
		label(for="price") Price
		input(type="number" name="price")
		label(for="itemURL") Enter the web page address for the item
		input(type="url" name="itemURL")
		- const choices = ['electronics', 'experience', 'food and drink', 'gift']
		ul.tags
			each choice in choices
				.tag.tag__choice
					input(type="checkbox", id=choice, value=choice, name="tags")
					label(for=choice) #{choice}
		input(type="submit" value="Enter item" class="button")
