<form action="/accounts" method="POST" class="account-form">
<label for="accountName">Account name</label>
<input type="text" name="accountName">
<label for="accountNotes">Account Notes</label>
<input type="text" name="accountNotes">
<input type="submit" value="Save" class="button">
</form>