
<form action="/commute-update" method="POST" class="commute-form">
    <label for="userCommute">Commute name</label>
    <input type="text" name="userCommute">
    <label for="fuel">Fuel</label>
    <input type="text" name="fuel">
    <label for="bus">Bus</label>
    <input type="text" name="bus">
    <label for="parking">Parking</label>
    <input type="text" name="parking">
    <label for="train">Train</label>
    <input type="text" name="train">
    <label for="timeMinutes">Minutes</label>
    <input type="text" name="timeMinutes">
    <label for="timeHours">Hours</label>
    <input type="text" name="timeHours">
    <label for="totalCost">Total Cost</label>
    <input type="text" name="totalCost">
    <input type="submit" value="Save" class="button">
    </form>