<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/main.css'>
		<title>Passport-Strava Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/profile">Profile</a> | 
			<a href="/accounts">Accounts</a> | 
			<a href="/wishlist">Wish list</a> | 
			<a href="/commute-costs">Commute Costs</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
