<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<div class="wrapper content">
        <div class="left">
                <div class="mdc-card athlete-card">
                        <div class="athlete-card-profile-image">
                            <img alt="mile money developer" src="https://graph.facebook.com/656033073/picture?height=256&width=256">
                        </div>
                        <div class="card-inner athlete-card-inner">
                            <h2 class="athlete-card-inner--profile-name">Scott Schubert, Mile Money creator</h2>
                            <p class="athlete-card-inner--profile-location">I'm from Australia and a keen runner. <a href="https://www.strava.com/athletes/3025424">Please follow me on Strava.</a></p>
                            <p>Please direct any questions through the Social Media channels or via LinkedIn.</p>
                            <div class="athlete-card-inner-stats">
                                <div class="athlete-card-inner-social-icons">
                                        <a target="_blank" href="https://twitter.com/MileMoneyApp"><ion-icon name="logo-twitter"></ion-icon></a>
                                        <a target="_blank" href="https://www.instagram.com/milemoneyapp/"><ion-icon name="logo-instagram"></ion-icon></a>
                                        <a target="_blank" href="https://www.facebook.com/milemoney"><ion-icon name="logo-facebook"></ion-icon></a>
                                        <a target="_blank" href="https://www.linkedin.com/in/scottys88"><ion-icon name="logo-linkedin"></ion-icon></a>
                                </div>
                            </div>
                            <span class="strava-link"><a href="https://www.strava.com/athletes/3025424">Follow me on Strava</a></span>
                        </div>
                    </div>
        </div>
        
        <div class="main main-content">
                
                <div class="mdc-card main-content-card">
                    <h1 class="yellowBg">About Mile Money</h1>
                    <p>
                        Hi there, thank you for stopping by to check out Mile Money. Mile Money is the result of two things. 
                        A innate desire to save every penny I can, and the willingness to learn new cool technologies. 
                    </p>
                    <p>
                        My name is Scott Schubert, I began programming in early 2017 and it has been a revelation for me as it's something
                        I truly enjoy doing. I've also been a runner since doing my first marathon in 2011. For a number of years now I have been
                        either running into work or riding my bike. I even sold my car because I simply was not using it anymore. I had been thinking
                        for a long time that it would be great to be able to visualise how much money I was actually saving by commuting into work
                        by foot or by bike. 
                    </p>
                    <p>
                        I decided to embark on this project to fulfill my vision and also to learn a lot of new things along the way. The project really
                        is the result of my love of running and of programming. I hope this shows through and that you can get some value of the tool.
                    </p>
                    <p>
                        Feel free to get in contact with me via <a href="https://twitter.com/MileMoneyApp">Twitter</a>, <a href="https://www.instagram.com/milemoneyapp/">Instagram</a> 
                        or <a href="https://www.facebook.com/milemoney">Facebook</a>. Get out there and earn some Mile Money!
                    </p>
                </div>

        </div>
            <div class="right">
                <div class="commute-layout">
                    <h2>Mile Money</h2>
                    <div class="mdc-card right-tips-card">
                            <h3>Mile Money tech</h3>
                            <p>Mile Money was built using NodeJS, Express, Strava API, MongoDB and a number of other cool technologies.</p>
                    </div>
                </div>
        
        
        