<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
<div class="wrapper content">
        <div class="left">
                <div class="mdc-card athlete-card">
                        <div class="athlete-card-profile-image">
                            <img alt="mile money developer" src="https://graph.facebook.com/656033073/picture?height=256&width=256">
                        </div>
                        <div class="card-inner athlete-card-inner">
                            <h2 class="athlete-card-inner--profile-name">Scott Schubert, Mile Money creator</h2>
                            <p class="athlete-card-inner--profile-location">I'm from Australia and a keen runner. <a href="https://www.strava.com/athletes/3025424">Please follow me on Strava.</a></p>
                            <p>Please direct any questions through the Social Media channels or via LinkedIn.</p>
                            <div class="athlete-card-inner-stats">
                                <div class="athlete-card-inner-social-icons">
                                        <a target="_blank" href="https://twitter.com/MileMoneyApp"><ion-icon name="logo-twitter"></ion-icon></a>
                                        <a target="_blank" href="https://www.instagram.com/milemoneyapp/"><ion-icon name="logo-instagram"></ion-icon></a>
                                        <a target="_blank" href="https://www.facebook.com/milemoney"><ion-icon name="logo-facebook"></ion-icon></a>
                                        <a target="_blank" href="https://www.linkedin.com/in/scottys88"><ion-icon name="logo-linkedin"></ion-icon></a>
                                </div>
                            </div>
                            <span class="strava-link"><a href="https://www.strava.com/athletes/3025424">Follow me on Strava</a></span>
                        </div>
                    </div>
        </div>
        
        <div class="main main-content">
                
                <div class="mdc-card main-content-card">
                    <h1 class="yellowBg">Privacy Policy</h1>
 
                    <h2>Mile Money </h2>

                    <p><strong>1. We respect your privacy </p></strong>

                    <p>1.1. Mile Money respects your right to privacy and is committed to safeguarding the privacy of our customers and website visitors. We adhere to the Australian Privacy Principles contained in the Privacy Act 1988 (Cth). This policy sets out how we collect and treat your personal information. </p>

                    <p>1.2. "Personal information" is information we hold which is identifiable as being about you.</p>

                    <p><strong> 2. Collection of personal information </p></strong>

                    <p>2.1. Mile Money will, from time to time, receive and store personal information you enter onto our website, provided to us directly or given to us in other forms. </p>

                    <p>2.2. You may provide basic information such as your name, phone number, address and email address to enable us to send information, provide updates and process your product or service order. We may collect additional information at other times, including but not limited to, when you provide feedback, when you provide information about your personal or business affairs, change your content or email preference, respond to surveys and/or promotions, provide financial or credit card information, or communicate with our customer support. </p>

                    <p>2.3. Additionally, we may also collect any other information you provide while interacting with us. </p>

                    <p>2.4. You will only receive notifications or emails from Mile Money when you have explicitly opted in to do so on the http://milemoney.io/privacy page. You will otherwise receive no communications from Mile Money.</p>

                    <p><strong>3. How we collect your personal information </p></strong>

                    <p>3.1. Mile Money collects personal information from you in a variety of ways, including when you interact with us electronically or in person, when you access our website and when we provide our services to you. We may receive personal information from third parties. If we do, we will protect it as set out in this Privacy Policy. </p>

                    <p>3.2 The main source of information is retrieved directly from Strava.Only information necessary to the functionality of Mile Money is stored and saved within Mile Money. For a full list of all of the information stored for your profile, go to http://milemoney.io/profile </p>

                    <p>3.3 You may, at any time delete your profile and all of the information stored within it. This can be done by clicking the ‘delete profile’ button on the profile page: http://milemoney.io/profile </p>


                    <p><strong>4. Use of your personal information</p></strong>

                    <p>4.1. Mile Money may use personal information collected from you to provide you with information, updates and our services. We may also make you aware of new and additional products, services and opportunities available to you. We may use your personal information to improve our products and services and better understand your needs. </p>

                    <p>4.2. Mile Money may contact you by a variety of measures including, but not limited to telephone, email, sms or mail.</p>

                    <p>4.3 Part of your collected information is bikes and shoes. This information may be used at some point in the future for marketing however you would need to be explicitly opted in to receive marketing to receive anything.</p>

                    <p>4.3 Mile Money abides by the Strava API agreement as outlined here: https://www.strava.com/legal/api</p>

                    <p><strong>5. Disclosure of your personal information </p></strong>

                    <p>5.1. We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this Policy. Personal information is only supplied to a third party when it is required for the delivery of our services. </p>

                    <p>5.2. We may from time to time need to disclose personal information to comply with a legal requirement, such as a law, regulation, court order, subpoena, warrant, in the course of a legal proceeding or in response to a law enforcement agency request. </p>

                    <p>5.3. We may also use your personal information to protect the copyright, trademarks, legal rights, property or safety of Mile Money, http://milemoney.io, its customers or third parties. </p>

                    <p>5.4. Information that we collect may from time to time be stored, processed in or transferred between parties located in countries outside of Australia. These may include, but are not limited to USA. </p>

                    <p>5.5. If there is a change of control in our business or a sale or transfer of business assets, we reserve the right to transfer to the extent permissible at law our user databases, together with any personal information and non-personal information contained in those databases. This information may be disclosed to a potential purchaser under an agreement to maintain confidentiality. We would seek to only disclose information in good faith and where required by any of the above circumstances. </p>

                    <p>5.6. By providing us with personal information, you consent to the terms of this Privacy Policy and the types of disclosure covered by this Policy. Where we disclose your personal information to third parties, we will request that the third party follow this Policy regarding handling your personal information. </p>

                    <p><strong>6. Security of your personal information </p></strong>

                    <p>6.1. Mile Money is committed to ensuring that the information you provide to us is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure. </p>

                    <p>6.2. The transmission and exchange of information is carried out at your own risk. We cannot guarantee the security of any information that you transmit to us, or receive from us. Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that personal information that we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy. </p>

                    <p><strong>7. Access to your personal information </p></strong>

                    <p>7.1. Your personal information is accessible and deletable at any time. Login and go to your profile page (https://milemoney.io/profile) and you can view all of the data we have and also delete your account. </p>


                    <p><strong>8. Complaints about privacy </p></strong>

                    <p>8.1. If you have any complaints about our privacy practices, please feel free to send in details of your complaints via the social media channels provided on the contact page. https://milemoney.io/about</p>

                    <p><strong>9. Changes to Privacy Policy </p></strong>

                    <p>9.1. Please be aware that we may change this Privacy Policy in the future. We may modify this Policy at any time, in our sole discretion and all modifications will be effective immediately upon our posting of the modifications on our website or notice board. Please check back from time to time to review our Privacy Policy. </p>




                    <p><strong>10. Website </p></strong>

                    <p>10.1. When you visit our website 

                    <p>When you come to our website (http://milemoney.io) we may collect certain information such as browser type, operating system, website visited immediately before coming to our site, etc. This information is used in an aggregated manner to analyse how people use our site, such that we can improve our service. </p>

                    <p>10.2. Cookies </p>

                    <p>We may from time to time use cookies on our website. Cookies are very small files which a website uses to identify you when you come back to the site and to store details about your use of the site. Cookies are not malicious programs that access or damage your computer. Most web browsers automatically accept cookies but you can choose to reject cookies by changing your browser settings. However, this may prevent you from taking full advantage of our website. Our website may from time to time use cookies to analyses website traffic and help us provide a better website visitor experience. In addition, cookies may be used to serve relevant ads to website visitors through third party services such as Google Adwords. These ads may appear on this website or other websites you visit. </p>

                    <p>10.3. Third party sites </p>

                    <p>Our site may from time to time have links to other websites not owned or controlled by us. These links are meant for your convenience only. Links to third party websites do not constitute sponsorship or endorsement or approval of these websites. Please be aware that Mile Money is not responsible for the privacy practises of other such websites. We encourage our users to be aware, when they leave our website, to read the privacy statements of each and every website that collects personal identifiable information.</p>

                </div>

        </div>
            <div class="right">
                <div class="commute-layout">
                    <h2>Mile Money</h2>
                    <div class="mdc-card right-tips-card">
                            <h3>Mile Money tech</h3>
                            <p>Mile Money was built using NodeJS, Express, Strava API, MongoDB and a number of other cool technologies.</p>
                    </div>
                </div>
        
        
        