<% const athleteCommutes = athlete.commutes; %>
<% const commuteCosts = athlete.commuteCosts; %>
<% const athleteWishListItems = athlete.wishList; %>
<% const athleteAccounts = athlete.accounts; %>
<% let totalRedeemed = 0; %>
<% var commutesInAccount; %> 





  
    

  


<% if(athlete) { %>
    <h3>Accounts</h3>
    <p>Account: Main</p>
    <% var commutesInAccount = athlete.commutes.length %> 
    <p>Commutes in account: <%= commutesInAccount %></p>
    <p>Mile Money in this account: <%= mileMoneyBalance %></p>
<% } %>




