<h2>Commute costs:</h2>

<% if(athlete && athlete.commuteCosts) { %>
    <% athlete.commuteCosts.forEach(cost => { %>
        <p>Name: <%= cost.userCommute %></p>
        <p>Cost: <%= cost.totalCost %></p>
        <a href=<%= `/commute-costs/edit/${ cost._id }` %>>Edit</a>
<% }) } %>
