<h2>Commute costs:</h2>

<% if(athlete && athlete.commuteCosts) { %>
    <p><% athlete.commuteCosts.forEach(cost => { %>
    Name: <%= cost.userCommute %>
    Cost: <%= cost.totalCost %>
    </p>
<% }) } %>
