<div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
          <div class="mdc-tab-scroller__scroll-content">
            <button class="mdc-tab main-mobile-tab mdc-tab--active active-tab" role="tab" aria-selected="true" tabindex="0">
                <div class="mdc-tab__content">
                  <span class="mdc-tab__text-label">Wish List</span>
                </div>
                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <div class="mdc-tab__ripple"></div>
            </button>
            
            <button class="mdc-tab main-mobile-tab" role="tab" aria-selected="false" tabindex="1">
                <div class="mdc-tab__content ">
                  <span class="mdc-tab__text-label">Commute Costs</span>
                </div>
                <span class="mdc-tab-indicator">
                  <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                </span>
                <div class="mdc-tab__ripple"></div>
              </button>
              
              <button class="mdc-tab main-mobile-tab" role="tab" aria-selected="false" tabindex="2">
                  <div class="mdc-tab__content">
                    <span class="mdc-tab__text-label">Commutes</span>
                  </div>
                  <span class="mdc-tab-indicator">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <div class="mdc-tab__ripple"></div>
                </button>
                
          </div>
        </div>
      </div>



