Total number of commutes is:
<% if(athlete) { %>
    <%= athlete.commutes.length %>
    <% if(athlete.commuteCosts.length >= 1) { %>	
        Your total Mile Money balance is: 
        <%= (parseFloat(athlete.commuteCosts[0].totalCost) * parseFloat(athlete.commutes.length)) - totalRedeemed %>
    <% } else { return ;} %>
    <p>
        Total redeemed Mile Money: <%= totalRedeemed %>

    </p>
    <h3>Accounts</h3>
    <% if (athlete.accounts.length >= 1) { %>
    <%  athlete.accounts.forEach(account => { %>
    <p>Account: <%= account.accountName %></p>
    <p>Commutes:</p>
    <% })} %>
<% } %>