@import "@material/drawer/mdc-drawer";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/ripple/mdc-ripple";

.my-ripple {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states;
}


$mdc-theme-primary: #6200ee !default; // baseline purple, 500 tone
$mdc-theme-on-primary: if(mdc-theme-contrast-tone($mdc-theme-primary) == "dark", #000, #fff) !default;
$mdc-theme-accent: #018786 !default; // baseline teal, 600 tone
$mdc-theme-secondary: $mdc-theme-accent !default;
$mdc-theme-on-secondary: if(mdc-theme-contrast-tone($mdc-theme-secondary) == "dark", #000, #fff) !default;
$mdc-theme-background: #fff !default; // White
$mdc-theme-surface: #fff !default;
$mdc-theme-on-surface: if(mdc-theme-contrast-tone($mdc-theme-surface) == "dark", #000, #fff) !default;


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    
}

header.mdc-top-app-bar  {   
        position: relative;  
}

body.login {
    // background: url('./images/loginBg.jpg');
    background-size: cover;
    margin: 0;
    overflow-y: hidden;
}
.loginPanel {
    background-color: rgba(32, 32, 32, 0.836);
    width: 25%;
    height: 100vh;
    
    display: flex;
    padding: 50px;
    .innerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        .iconRow {
            display: flex;
            justify-content: space-between;

            img {
                padding: 15px;
            }
        }
        .introText {
            color: white;
            text-align: center;
        }

    }
    .poweredByStrava {
        width: 200px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

.wrapper {
    display: grid;
    grid-gap: 20px;
    position: relative;
    z-index: 4;
    grid-template-areas: 
        "left main right";
    grid-template-columns: [left] 300px [main] 1fr [right] 300px;
    .left {
        grid-area: left;
    }
    .main {
        grid-area: main;
    }
    .right {
        grid-area: right;
    }
}
