.mdc-text-field:not(.mdc-text-field--disabled), .mdc-select {background-color: white !important;}
$mdc-theme-primary: #000;
$mdc-theme-secondary: #ffc600;
$mdc-theme-on-primary: #ffc600;
$mdc-theme-on-secondary: #442b2d;
$mdc-button: #ffc600;


@import "@material/drawer/mdc-drawer";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/ripple/mdc-ripple";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/card/mdc-card";
@import "@material/chips/mdc-chips";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/floating-label/mdc-floating-label";
@import "@material/button/mdc-button";
@import "@material/select/mdc-select";
@import "@material/switch/mdc-switch";

.flash-msg {
    padding: 10px;
    background-color: #00FF00;
    position: relative;
    .flash-msg-clear {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
}

.my-ripple {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;
    @include mdc-states;
}

a {
    text-decoration: none;
}
.mdc-chip {
    background-color: #ffc600;
    border: 2px solid black;
    font-weight: 600;
    color: black;
    padding: 20px;
    &.redeemed {
        background-color: #00FF00;
    }
    .chip-contents {
        // padding: 5px 10px;
    }
}
.app-bar-actions {
    color: #ffc600;
}
.logout {
    color: white;
    margin-right: 20px;
    margin-left: 10px;
}
.account-button {
    color: #ffc600;
}

h1,h2,h3,h4 {
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 2;
    display: inline-block;
    align-self: center;
}
p {
    z-index: 2;
}

.mdc-button.form-submit {
    background-color: #ffc600;
    margin-top: 20px;
}

.top-app-bar--strava {
    width: 120px;
}

.yellowBg {
    position: relative;
}
ion-icon::after, .yellowBg::after {
    display: block;
    content: '';
    background: #ffc600;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: 13px;
    z-index: -1;
    transition: all 0.2s;
    height: 30px;
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    bottom: 0;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: rgb(218, 218, 218);
    
}

header.mdc-top-app-bar  {   
        position: relative;  
}

body.login {
    // background: url('./images/loginBg.jpg');
    background-size: cover;
    margin: 0;
    overflow-y: hidden;
    display: grid;
}
.login-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    .loginPanel {
        background-color: rgba(32, 32, 32, 0.836);
        
        height: 100vh;
        
        display: flex;
        padding: 50px;
        .innerContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            
            .iconRow {
                display: flex;
                justify-content: space-between;

                img {
                    padding: 15px;
                }
            }
            .introText {
                color: white;
                text-align: center;
            }

        }
        .poweredByStrava {
            width: 200px;
            position: absolute;
            bottom: 0;
            left: 0;

        }

    }
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    position: relative;
    z-index: 4;
    margin: 20px;
    margin-top: 30px;
    grid-template-areas: 
        "left main right";
    grid-template-columns: [left] 300px [main] 1fr [right] 300px;
    @media only screen and (max-width: 1199px){
        margin: 10px;
        grid-gap: 10px;
    }
    .left {
        grid-area: left;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
    .main {
        grid-area: main;
        text-align: center;
    }
    .right {
        grid-area: right;
        text-align: center;
        
    }
    .mobile-tabs {
        display: none;
    }
    @media only screen and (max-width: 1199px){
        grid-template-columns: [left] 220px [main] 1fr [right] 220px;
    }

    @media only screen and (max-width: 991px){
        grid-template-areas: 
        "main"
        "left"
        "right";
        grid-template-columns: 1fr;
        .mobile-tabs {
            display: inline-block;
        }
        .left {
            display: none;
            
        }
        .right {
            display: none;
        }
    }
    .athlete-card {
        min-height: 300px;
        max-width: 300px;
        margin-top: 25%;
        display: flex;
        justify-items: center;
        align-items: center;
        position: relative;
        @media only screen and (max-width: 1199px){
            max-width: 220px;
        }
        .athlete-card-profile-image {
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            img {
                max-width: 50%;
                margin-top: -20%;
                border: 5px solid black;
            }
        }
        .athlete-card-inner-stats {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: auto auto;  

        }
        .strava-link {
            font-size: 0.85em;
            position: absolute;
            bottom:0;
            color: #FC4C02;
        }
    }
}

.card-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
   align-items: center;
}

.icon-value-label {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "icon value"
        "label label";
    grid-template-columns: 30px 30px;
    .icon {
        grid-area: icon;
    }
    .value {
        grid-area: value;
    }
    .label {
        grid-area: label;
        font-size: 0.8em;
    }
}
.icon-value-label-centre {
    justify-content: center;
}

.commute-costs-layout {
    display: grid;
    grid-gap: 40px;
    &:first-child {
        margin-top: 20px;
    }
.commute-cost-card {
    min-height: 150px;
    width: 300px;
    position: relative;
    @media only screen and (max-width: 1199px){
        max-width: 220px;
        min-width: 220px;
    }
    .commute-cost-card-inner {
    
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    .icon-wrapper {
        border: 5px solid black;
        background-color: #ffc600;
        margin-top: -25px;
        i {
            padding: 10px;
        }
    }
    }
    .delete-item {
        z-index: 2;
    }
}
}

.main {
    .main-balance {
        .main-balance-inner {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .main-card-inner-stats {
                display: grid;
                justify-content: center;
            }
            .main-chip {
                background-color: rgb(218, 218, 218);
                font-weight: 200;
                border: 1px solid black;
            }
        }
        .redeemed-items-list {
            display: none;
            opacity: 0;
            position: relative;
            transform: translateY(-100%);
            &.expanded {
                display: block;
                opacity: 1;
                z-index: 5;
                transform: translateY(0%);
                .nothing-redeemed {
                    font-weight: 600;
                }
                ul {
                    padding-left: 0;
                }
                ul li {
                    font-family: 'Courier New', Courier, monospace;
                    list-style: none;
                    text-align: center;
                }
                ul li:before {
                    content: '-';
                }
            }
        }
    }
    .main-mobile-profile-image {
        display: flex;
        justify-content: center;
        margin-bottom: -20px;
        img {
            max-width: 150px;
            border: 5px solid black;
            text-align: center;
            max-height: 150px;
        }
    }
}

.mdc-icon-button {
    border: none;
    background: none;
}

.accounts-layout {
    display: grid;
    grid: auto-flow / 50% 1fr;
    grid-gap: 20px;
    @media only screen and (max-width: 1199px){
        grid-gap: 10px;
        
    }
    .account-card {
        min-height: 150px;
        position: relative;
        width: 300px;
        height: 250px;
        @media only screen and (max-width: 1199px){
            width: auto;
        }
        .account-card-inner {
            display: grid;
            grid-template-rows: 80px 80px;
            grid-gap: 20px;
            justify-content: center;
            margin: 10px 0;
            .account-card-inner-stats {
                display: grid;
                grid-gap: 30px;
                grid-template-columns: auto auto;  
            }
        }
    }
}

.wishlist-layout {
    display: grid;
    grid: auto-flow / 50% 1fr;
    grid-gap: 20px;
    @media only screen and (max-width: 1199px){
        grid-gap: 10px;
    }
    .wishlist-card {
        width: 300px;
        min-height: 250px;
        position: relative;
        @media only screen and (max-width: 1199px){
            width: auto;
        }
        .wishlist-card-inner {
            display: grid;
            grid-template-rows: 80px 80px;
            grid-gap: 20px;
            justify-content: center;
            margin: 10px 0;
            .wishlist-card-inner-stats {
                display: grid;
                grid-gap: 30px;
                grid-template-columns: auto auto;  
            }
        }
    }
}

.commute-layout {
    display: grid;
    grid-gap: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    &:first-child {
        margin-top: 20px;
    }
    .commute-card {
        width: 300px;
        @media only screen and (max-width: 1199px){
            width: 220px;
        }
        .commute-card-inner {
            .commute-card-inner-visible-stats {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                .commute-card-inner-visible-stats--date {
                    padding-top: 10px;
                }
                .share-commute {
                    position: absolute;
                    left: 5px;
                    bottom: 5px;
                }
                .expand-commute {
                    i {
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    }
                }
                .icon-wrapper {
                    border: 5px solid black;
                    background-color: #ffc600;
                    margin-top: -25px;
                    i {
                        padding: 10px;
                    }
                }
            }
            .commute-card-inner-hidden-stats {
                display: none;
                opacity: 0;
                position: relative;
                top: -100%;
                transition: all 1s;
                &.expanded {
                    display: grid;
                    opacity: 1;
                    top: 0;
                    transition: all 1s;
                    text-align: left;
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

}

.add-new-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 150px;
    width: 300px;
    @media only screen and (max-width: 1199px){
        width: auto;
    }
}

.card-new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: rgb(161, 161, 161);
    i {
        font-size: 3em;
    }
}

.delete-item {
    position: absolute;
    right: 15px;
    top: 5px;
}

form {

    .mdc-text-field, .mdc-select {
        width: 75%;
    }
    .form-helper {
        margin-bottom: 10px;
    }
}

.right-tips-card {
    width: 300px;
    max-height: 250px;
    display: flex;
    align-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
}

.mobile-tab {
    &.active-tab {
        display: grid;
        
        .commute-layout {
            justify-content: center;
        }
        .wishlist-layout {
            grid: auto-flow / minmax(100px, 200px);
            justify-content: center;
            .wishlist-card {
                min-width: 300px;
            }
        }
        .commute-costs-layout {
            justify-content: center;
            display: grid;
            grid-gap: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
    display: none;
}


.bg-image {
    background-image: url('https://source.unsplash.com/1600x900/?city,streets');
    max-height: 350px;
    width: 100vw;
    height: 250px;
    background-size: cover;
    background-position: center;
    position: absolute;
}


.content {
    .main-content {
        background: white;
        .main-content-card {
            position: relative;
            padding: 20px;
            @media only screen and (max-width: 991px){

            }
            a {
                color: black;
                font-weight: 600;
            }

        }
    }
    .athlete-card-inner-social-icons {
        ion-icon {
            color: black;
            font-size: 30px;
            padding: 5px;
        }
        
    }
}

.notifications-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
    .switch-label-container {
        padding: 20px 0;
        display: flex; 
        justify-content: flex-start;
        .mdc-switch {
            display: inline-block;
            
        }
        label[for="basic-switch"]{
            text-align: left;
            padding-left: 15px;
        }
    }
    button {
        min-width: 250px;
        max-width: 350px;
        align-self: center;
    }
}