@import "@material/drawer/mdc-drawer";

body.login {
    // background: url('./images/loginBg.jpg');
    background-size: cover;
    margin: 0;
    overflow-y: hidden;
}
.loginPanel {
    background-color: rgba(32, 32, 32, 0.836);
    width: 33%;
    height: 100vh;
    
    display: flex;
    padding: 50px;
    .innerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        .iconRow {
            display: flex;
            justify-content: space-between;

            img {
                padding: 15px;
            }
        }
        .introText {
            color: white;
            text-align: center;
        }

    }
    .poweredByStrava {
        width: 200px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}